# Python
__pycache__/
*.py[cod]
.venv/
.peercode-logs/

# Flutter/Dart
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.metadata

# IDE/editor
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

node_modules/

# PyInstaller build artifacts
build/
